# Visual Studio / Rider
.vs/
*.user
*.suo
.idea/

# Build output
bin/
obj/

# Docker
.env

# Test results
TestResults/
*.log

# System pliki
.DS_Store
Thumbs.db

ui/node_modules/
ui/dist/
ui/.env.local

ui/.env.production
